
html, body { height: 100%; padding:0px; margin:0px;}
body { background: #cccccc; color: #ffffff; font-size: 11px; text-align: left; font-family:Arial, Helvetica, sans-serif;}

.clear {clear:both;}

.slide-content > img {
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

section,aside,figure,footer,header,hgroup,nav,section{display:block}

img {height:auto;}

body.blackBG { background: #000; color: #ffffff; font-size: 11px; text-align: left; font-family:Arial, Helvetica, sans-serif;}

#wrapperPhotoBG { margin-left:0px; height:100%; position: relative; width: 1260px;background-color:#000;}

.leftColumnBG {position:relative; top:0px; float:left; color: #333333;height: 819px;width:323px;margin-left:0px;background-color:#000;background-repeat: no-repeat;background-image: url(../images/leftSideBlack.jpg);}

.logoBG {position:absolute; left:136px;top:160px;height: 235px;width:256px;background-color:transparent;background-repeat: no-repeat;background-image: url(../images/logoBG.png);}

#wrapper { margin-left:0px; height:100%; position: relative; width: 1124px; }

#wrapper section {float:left;width:760px; min-height:100%; background-color:#dcdbdb;background-image:url("../images/pattern.png"); background-repeat:repeat; padding:10px 0 0;}

#wrapper section footer  {width:610px;background-color:#e39d9f; margin:0 auto; height:60px; clear:right;} 

#wrapper section footer p { color:#ebe9e9; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0 auto; padding:24px 0 ; text-align:center;}

#wrapper section #myWork {display:block; background-color:#fff; margin:6px auto; height:auto; overflow:hidden; width: 80%;}
#wrapper section #myWork .top {padding-top:60px;}
#wrapper section #myWork  .col {width:165px; height:160px; border-bottom:1px solid #eaeaea; margin:6px 18px; background-color:#fff; float:left;font-size: 0.7em;}

#wrapper section #myWork .col img {width:164px; height:74px; border:1px #ccc solid;}

#wrapper section #myWork .col img.latest_img {width:164px; height:74px; border:1px #ccc solid;}

#wrapper section #myWork  .col p {color:#666;  line-height: 13px;clear:both; height:auto;padding:0px; text-align:left;}

#wrapper section #myWork .container {display:block; background-color:#fff; margin:6px auto; height:auto; overflow:hidden; width: auto;}

#wrapper section #myWork .container h2 {color:#868613;font-size:18px; width:562px; line-height:28px; padding:2px 0 2px 8px;background-image:url("../images/pattern.png"); background-repeat:repeat; background-color:#ccc;margin-left:18px;}

#wrapper section #myWork .col p a {color:#868613; line-height:12px; text-decoration:none; border-bottom:1px #868613 dotted; }

#wrapper section #myWork .col p a:hover {color:#54540a; line-height:12px;  text-decoration:none; border-bottom:1px #54540a dotted;}

#wrapper section #myWork .col p em {color: #999; font-size:.8em;}

#wrapper section #myWork .col p span.pnk {color:#b42f32;}

#wrapper section #myWork .col a.blink { background-image:url("../images/arrow.png"); background-repeat:no-repeat; background-position:top left; text-indent:-9999px; text-decoration:none; border-bottom:none; display:inline-block; width:12px; height:8px; margin:4px 0 0 6px; position:relative; padding:0px; outline:none;}

#wrapper section #myWork .col p.ilink {color:#666; line-height:14px; position:relative; display:inline-block; width:auto; padding-top:4px;}

#wrapper section #myWork .floatLeft {float:left; width:250px; padding-left:12px; padding-bottom:12px;}

#wrapper section #myWork p {color:#666; font-size:12px; line-height:18px; padding:5px 26px 5px 16px; text-align:left;}

#wrapper section #myWork p a {color:#0099FF; text-decoration:none; border-bottom:1px #0099FF dotted;  }

.italLnk {font-style:italic; color:#0099FF;}

#wrapper section #myWork h5 {text-align:left;font-size:12px;padding-left:40px; font-family:Arial, Helvetica, sans-serif;}

#wrapper section #myWork h5 a {font-weight: 600;color: #C95659;text-decoration:none;}


#wrapper section #myWork .scol { display: inline-block; width:46%; padding: 15px 12px}

#wrapper section #myWork .scol ul  { padding: 2px 2px; height:auto; float:left; width:90%;padding-left: 30px;}

#wrapper section #myWork .scol ul li {height:auto; list-style:none; width:100%; line-height:13px;}

#wrapper section #myWork .scol ul li h4 {line-height:18px; font-size:16px; padding:0px; margin:0px; color:#868613;}

#wrapper section #myWork .scol ul li { font-size:11px; padding:3px 0px; color:#666;}

#wrapper section #myWork .scol ul li em {font-size:10px; color:#09F; font-style:italic;}

#wrapper section #myWork .left {float: left}

#wrapper section #myWork .right {float: right}

.image-container {
	background-image:url("../images/blank2.png"); 
	background-repeat:no-repeat;
	padding:0 0 4px 0;
	float:left;
	display:inline;
	margin-bottom:6px;
	position:relative;
	width:165px; 
	height:75px;
}

/* PHOTOGRAPHY */

#wrapper header {float:left; width:300px; background-color:#ccc; height:819px;background-repeat: no-repeat;background-image: url("../images/leftSide.jpg");}

#wrapper header nav {background-color: transparent;width: 200px;height: 330px;float: right;margin-top: 112px;margin-right: 14px;}

#wrapper header nav #chohoh {width:144px; height:132px; padding-left: 56px;padding-bottom: 18px;}
#wrapper header nav #chohoh a {display:block; padding:0px; margin:0px;}

#wrapper header nav ul {width:200px; height:auto; text-align:left; text-transform:uppercase; font-size:16px; opacity: 0.6;}

#wrapper header nav ul li.mid{ list-style-type:none; list-style-image:none; height:8px; margin-bottom:1px; background-color:#f6f5f5;}
#wrapper header nav ul li.mid:hover { background-color:#f6f5f5;}
#wrapper header nav ul li { list-style-type:none; list-style-image:none; height:25px; margin-bottom:1px; background-color:#efefef;}
#wrapper header nav ul li:hover {background-color:#fff;}
#wrapper header nav ul li a { display:block; padding:5px 8px; text-decoration:none; color:#868613; }
#wrapper header nav ul li a:hover {color:#C95659; }
#wrapper header nav ul li.on {background-color:#fff; }
#wrapper header nav ul li.on a {color:#C95659;}

#wrapperPhotoBG header {float:left; width:300px; background-color:#000; height:819px;background-repeat: no-repeat;background-image: url("../images/leftSideBlack.jpg");}
#wrapperPhotoBG header nav #chohoh {width:144px; height:132px; padding-left: 56px;margin-bottom: 18px;}
#wrapperPhotoBG header nav #chohoh a {display:block; padding:0px; margin:0px;}

#wrapperPhotoBG header nav {background-color: transparent;width: 200px;height: 330px;float: right;margin-top: 112px;margin-right: 14px;}

#wrapperPhotoBG header nav ul {width:200px; height:auto; text-align:left; text-transform:uppercase; font-size:16px; opacity: 0.7;}

#wrapperPhotoBG header nav ul li.mid{ list-style-type:none; list-style-image:none; height:8px; margin-bottom:1px; background-color:#f6f5f5;}
#wrapperPhotoBG header nav ul li.mid:hover { background-color:#f6f5f5;}
#wrapperPhotoBG header nav ul li { list-style-type:none; list-style-image:none; height:25px; margin-bottom:1px; background-color:#efefef;}
#wrapperPhotoBG header nav ul li:hover {background-color:#fff;}
#wrapperPhotoBG header nav ul li a { display:block; padding:5px 8px; text-decoration:none; color:#868613; }
#wrapperPhotoBG header nav ul li a:hover {color:#C95659; }
#wrapperPhotoBG header nav ul li.on {background-color:#fff; }
#wrapperPhotoBG header nav ul li.on a {color:#C95659;}

#wrapperPhotoBG section {float:left;width:960px; height:auto; background-color:#5C5C5C;background-image:url("../images/pattern3.png"); background-repeat:repeat; padding:10px 0 0;}
#wrapperPhotoBG section #myWork {display:block; background-color:#000000; margin:6px auto; height:100%; overflow:hidden; width: 96%;}
#wrapperPhotoBG section #myWork .top {padding-top:60px;}
#wrapperPhotoBG section #myWork .container {display:block; margin:6px auto; height:auto; overflow:hidden; width: auto;}

#wrapperPhotoBG section #myWork .container h2 {color:#868613;font-size:18px; width: 98%; line-height:28px; padding:2px 0 2px 8px;background-image:url("../images/pattern3.png"); background-repeat:repeat; background-color:#5C5C5C; margin: 0 auto;}

#wrapperPhotoBG section #myWork #links {display: block;margin: 0px auto;height: auto;width: 89%;padding: 20px 0;}

#wrapperPhotoBG section #myWork #links a { margin:0px; display:inline-block; padding: 4px 2px;}

#wrapperPhotoBG section footer  {width:96%;background-color:#000000; margin:0 auto; height:60px; margin-bottom:8px;} 

#wrapperPhotoBG section footer p { color:#ebe9e9; font-family:Arial, Helvetica, sans-serif; font-size:10px; margin:0 auto; padding:24px 0 ; text-align:center;}

/* PHOTOGRAPHY */

@media (max-width: 1124px) {

  #wrapper { margin-left:0px; height:100%; position: relative; width: 100%; }

  #wrapper header {    
  	width: 100%;
    height: auto;
    margin: 30px auto 10px auto;
    background-image: none;
  }

  #wrapper header nav {    
  	width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
    float: none;
    padding:0px 0px 10px 0px;}

  #wrapper header nav #chohoh {display:none;}

  #wrapper header nav ul {width:100%; height:30px; text-align:center; text-transform:uppercase; font-size:16px;margin:0 auto;}
	
	#wrapper header nav ul li.mid{ width:10px; background-color:#f6f5f5;height:28px;}

  #wrapper header nav ul li { 
    
    display: inline-block;
    height: 40px;
    background-color: #efefef;
    width: 22%;
    margin: 0 2px;}

    #wrapper section {
    float: none;
    width: 88%;
    min-height: 100%;
    background-color: transparent;
    background-image: none;
    padding: 10px 0 0;
	margin: 0 auto;}

	#wrapper section #myWork {
    display: block;
    background-color: #fff;
    margin: 6px auto;
    height: auto;
    overflow: hidden;
    width: 88%;}

    #wrapper section #myWork .container h2 {
    color: #868613;
    font-size: 18px;
    width: 95%;
    line-height: 28px;
    padding: 2px 0 2px 8px;
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-color: #ccc;
    margin-left: 18px;}

    #wrapper section #myWork .col {
    width: 20%;
    height: 160px;
    border-bottom: 1px solid #eaeaea;
    margin: 6px 18px;
    background-color: #fff;
    float: left;
    font-size: 0.7em;}

}

@media (max-width: 990px) {
	#wrapper section #myWork .col {
    width: 25%;
    height: 160px;
    border-bottom: 1px solid #eaeaea;
    margin: 6px 18px;
    background-color: #fff;
    float: left;
    font-size: 0.7em;}

    #wrapper header nav {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
    float: none;
    padding: 0px 0px 9px 0px;
}
	}

@media (max-width: 740px) {
	#wrapper section #myWork .col {
    width: 42%;
    height: 160px;
    border-bottom: 1px solid #eaeaea;
    margin: 6px 18px;
    background-color: #fff;
    float: left;
    font-size: 0.7em;}

    #wrapper header nav ul {
    width: 100%;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;}

    #wrapper header nav ul li {
    display: inline-block;
    height: 40px;
    background-color: #efefef;
    width: 20%;
    margin: 0px 5px;
    }

    #wrapper header nav ul li a {
    display: block;
    padding: 5px 2px;
    text-decoration: none;
    color: #868613;}
	}

@media (max-width: 640px) {
	
	body {background-image: url("../images/leftSide-mobile.jpg");background-repeat: repeat-y;-webkit-background-size: 100% 650px;background-color:#ccc;}

	#wrapper { width:100%; background-color:#ccc;}
	
	#wrapper header {width:100%; height:auto;clear:right;}
	
	#wrapper header nav {    
        width: 98%;
        padding: 0px 0px 10px;
        margin: 0px auto;
        height: auto;
    }

	#wrapper header nav ul {
        width: 90%;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        height: auto;
        margin: 0px auto;
    }
	
	#wrapper header nav ul li.mid{ display:none;}
	
	#wrapper header nav ul li { 
        display: block;
        list-style-type: none;
        list-style-image: none;
        background-color: #EFEFEF;
        height: auto;
        width: auto;
        margin: 1px 5px;
    }
	
	#wrapper section {clear:left;display:block;width:auto; height:auto; margin: 0 auto;background-image:url("../images/pattern.png"); background-repeat:repeat; padding:10px 0 0;}
	
	#wrapper section #myWork {width:90%; background-color:#ffffff; margin: 0 auto; height:auto;padding:6px;margin: 0 auto;}
	#wrapper section #myWork p {padding: 5px 4px 5px 16px; text-align:justify;}
	#wrapper section #myWork .col {width: 250px; height:160px; border-bottom:1px solid #eaeaea; margin:6px 18px; background-color:#fff; display:inline-block;}
	
	#wrapper section #myWork .container { margin:0px auto; height:auto; overflow:hidden; width: 90%;}
	
	#wrapper section #myWork .container h2 {color:#868613;font-size:18px; width:auto; line-height:28px; padding:2px 0 2px 8px;background-image:url("../images/pattern.png"); background-repeat:repeat; background-color:#ccc;margin-left:0px;}
	
	#wrapper section #myWork .col img.latest_img {width: 250px;height: 74px;border: 1px #ccc solid;}
	
	.image-container {
	background-image:url("../images/blank2-mobile.png"); 
	background-repeat:no-repeat;
	padding:0 0 4px 0;
	float:left;
	display:inline;
	margin-bottom:6px;
	position:relative;
	width:250px; 
	height:75px;
}

	body.blackBG {background-image: url("../images/leftSide-mobile.jpg");background-repeat: repeat-y;-webkit-background-size: 100% 650px;background-color:#000;}

	#wrapperPhotoBG { width:640px; background-color:#000;}
	
	#wrapperPhotoBG header {width:auto; height:auto;clear:right;}
	
	#wrapperPhotoBG header nav {width:640px; height: auto; padding:0px 0px 10px 0px; margin:0px;}
	
	#wrapperPhotoBG header nav #chohoh { height:auto;padding-left: 480px; padding-top:10px; padding-bottom:10px;}

	#wrapperPhotoBG header nav #chohoh a {display:block; padding:0px; margin:0px;}
	
	#wrapperPhotoBG header nav #chohoh a img {width:60%}
	
	#wrapperPhotoBG header nav ul {width:640px; height:30px; text-align:center; text-transform:uppercase; font-size:16px;}
	
	#wrapperPhotoBG header nav ul li.mid{ width:10px; background-color:#f6f5f5;height:28px;}
	
	#wrapperPhotoBG header nav ul li { display:inline-block; list-style-type:none; list-style-image:none; height:28px; background-color: #ccc;}
	
	#wrapperPhotoBG section {clear:left;display:block;width:auto; height:auto; margin: 0 auto;background-image:url("../images/pattern.png"); background-repeat:repeat; padding:10px 0 0;}
	
	#wrapperPhotoBG section #myWork {width:90%; background-color:#000; margin: 0 auto; height:auto;padding:6px;margin: 0 auto;}
	#wrapperPhotoBG section #myWork p {padding: 5px 4px 5px 16px; text-align:justify;}
	#wrapperPhotoBG section #myWork .col {width: 250px; height:160px; border-bottom:1px solid #eaeaea; margin:6px 18px; background-color:#fff; display:inline-block;}
	
	#wrapperPhotoBG section #myWork .container { margin:0px auto; height:auto; overflow:hidden; width: 90%;}
	
	#wrapperPhotoBG section #myWork .container h2 {color:#868613;font-size:18px; width:auto; line-height:28px; padding:2px 0 2px 8px;background-image:url("../images/pattern3.png"); background-repeat:repeat; background-color:#4B4B4B;margin-left:0px;}
	
	#wrapperPhotoBG section #myWork .col img.latest_img {width: 250px;height: 74px;border: 1px #ccc solid;}



}

#wrapper section #myWork .scol { display: inline-block; width:43%; padding: 15px 12px}
#wrapper section #myWork .scol ul  { padding: 2px 2px; height:auto; float:left; width:90%;padding-left: 30px;}
#wrapper section #myWork .scol ul li {height:auto; list-style:none; width:100%; line-height:13px;}
#wrapper section #myWork .scol ul li h4 {line-height:18px; font-size:16px; padding:0px; margin:0px; color:#868613;}
#wrapper section #myWork .scol ul li { font-size:11px; padding:3px 0px; color:#666;}
#wrapper section #myWork .scol ul li em {font-size:10px; color:#09F; font-style:italic;}

#wrapper section #myWork .left {float: left}

#wrapper section #myWork .right {float: right}
	
}




